/* 
    Created on : Jan 31, 2023, 3:21:44 PM
    Author     : Okino Kamali Leiba
*/

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

:root {
    --right-button-long-transform-LR: 314.5px;
    --right-button-long-transform-UD: 154px;
    --right-button-short-transform-LR: 332.5px;
    --right-button-short-transform-UD: 234px;
    --phone-container-radius: 1.3em;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
    color: #390099;
    font-size: 1em;
    line-height: 1.4;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: .5px;
    padding-bottom: .3px;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}



/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/* ==========================================================================
   Okino's Custom Styles
   ========================================================================== */
#bg-yellow-pg {
    background-color: #a3b18a;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center
}

.phone-container {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    border: medium outset #333533;
    border-radius: var(--phone-container-radius);
    height: 634.84995072px;
    width: 347.904px;
    background-color: #212529;
}


.front-camera-circle {
    margin-left: 50%;
    margin-top: 1.5px;
    border: thin solid #f8f9fa;
    border-radius: 50px;
    height: 14.8px;
    width: 14.3px;
    background-color: #adb5bd;
    display: block;
    top: 0;
}
/*
[class="phone-container"]:nth-last-child(2) {
    padding-left: 30%;
    padding-top: 50%;
    right: 0;
}*/

.right-button-long {
    border-radius: 50px;
    width: 70.8px;
    height: 3.2px;
    /*background: #242423;*/
    background-color: red;
    transform: translate(var(--right-button-long-transform-LR), var(--right-button-long-transform-UD)) rotate(90deg);
    -webkit-transform: translate(var(--right-button-long-transform-LR), var(--right-button-long-transform-UD)) rotate(90deg);
    -moz-transform: translate(var(--right-button-long-transform-LR), var(--right-button-long-transform-UD)) rotate(90deg);
    -o-transform: translate(var(--right-button-long-transform-LR), var(--right-button-long-transform-UD)) rotate(90deg);
    -ms-transform: translate(var(--right-button-long-transform-LR), var(--right-button-long-transform-UD)) rotate(90deg);
    /*310.5px, 200px*/
}

.right-button-short {
    border-radius: 50px;
    width: 35.8px;
    height: 3.2px;
    /*background: #242423;*/
    background-color: red;
    transform: translate(var(--right-button-short-transform-LR), var(--right-button-short-transform-UD)) rotate(90deg);
    -webkit-transform: translate(var(--right-button-short-transform-LR), var(--right-button-short-transform-UD)) rotate(90deg);
    -moz-transform: translate(var(--right-button-short-transform-LR), var(--right-button-short-transform-UD)) rotate(90deg);
    -o-transform: translate(var(--right-button-short-transform-LR), var(--right-button-short-transform-UD)) rotate(90deg);
    -ms-transform: translate(var(--right-button-short-transform-LR), var(--right-button-short-transform-UD)) rotate(90deg);
}

/*
 * First Phone Screen
 */

.phone-screen-background {
    position: relative;
    border: #333533;
    border-radius: var(--phone-container-radius);
    height: 627.849951px;
    width: 344.904px;
    background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/220531142331-bisa-butler-ella-restricted.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
   
}



#bt-inv-center-toggle {
    position: relative;
    margin-left: 0px;
    color: #f7fff7;
    height: 55.8px;
    width: 58.8px;
    transform: translate(134.5px, 514px);
    -webkit-transform: translate(134.5px, 514px);
    -moz-transform: translate(134.5px, 514px);
    -o-transform: translate(134.5px, 514px);
    -ms-transform: translate(134.5px, 514px);
}


.bg-group-landing_screen {
    position: inherit;
    padding: -0.3px;
}

.border-top-gray {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    display: inline-flex;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    background-color: gray;
    height: 15px;
    width: 100%;
    transform: translate(0px, -8px);
    -webkit-transform: translate(0px, -8px);
    -moz-transform: translate(0px, -8px);
    -o-transform: translate(0px, -8px);
    -ms-transform: translate(0px, -8px);
}


.border-bottom-gray {
    border-bottom-left-radius: var(--phone-container-radius);
    border-bottom-right-radius: var(--phone-container-radius);
    display: inline-flex;
    grid-template-columns: min-content min-content;
    background-color: red;
    height: 16px;
    width: 100%;
    transform: translate(0px, 586px);
    -webkit-transform: translate(0px, 586px);
    -moz-transform: translate(0px, -8px);
    -o-transform: translate(0px, -8px);
    -ms-transform: translate(0px, -8px);
}


.border-bottom-gray-l2 {
    border-bottom-left-radius: var(--phone-container-radius);
    border-bottom-right-radius: var(--phone-container-radius);
    background-color: greenyellow;
    height: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}


.border-bottom-gray-l3 {
    border-radius: 50px;
    background-color: black;
    height: 5px;
    width: 127px;
    margin-left: 30%;
    position: fixed;
    bottom: 0;
}


.left-logo-service {
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    margin-left: 14px;
}

/*
 * Second Phone Screen
 */

.front-camera-circle-black {
    margin-left: 81px;
    margin-top: 1.5px;
    border: thin solid #f8f9fa;
    border-radius: 50px;
    height: 14.8px;
    width: 14.3px;
    background-color: black;
    bottom: 0;
}

.key-border-top,
.battery-border-top,
.clock-border-top,
.sound_indicator-border-top,
.wifi_coverage-border-top,
.signal_strength-border-top,
.battery_indicator-border-top {
    height: 13.8px;
    width: 13.8px;
    background-color: black;
    color: black;
    bottom: 0;
}

.key-border-top {
    margin-left: 11px;
}

.battery_percentage-border-top {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    margin-left: 0px;
    /* margin: 0px; */
    margin-right: 0px;
    height: fit-content;
    width: fit-content;
    /* display: block; */
    color: white;
}

/*
 * Third Phone Screen
 */
.all-app-background {
    position: relative;
    border: #333533;
    border-radius: var(--phone-container-radius);
    height: 627.849951px;
    width: 344.904px;
    background-image: url(https://admin.itsnicethat.com/images/92VMFww4GUNoDx-XiakpEqIuQbY=/6454/format-webp%7Cwidth-1440/59e4cc787fa44c45b800466a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
}

.all-app-search {
    display: block;
    padding: -0.3px;
}

.status-top-display {
    display: inline-flex;
    margin: 5px 0px;
}

.left-logo-time {
    margin-left: 12px;
    margin-bottom: 0px;
    padding: 0px 0px;
    height: min-content;
    width: min-content;
    color: white;
    font-size: 11px;
}

.search-bar-apps {
    margin: 0px 8px;
    margin-bottom: 23px;
    border-radius: 50px;
    width: 41vw;
    height: 39.2px;
    background-color: darkgray;
}

.app-container-template {
    height: 56px;
    width: 56px;
    background-color: lightgoldenrodyellow;
    border-radius: 24px;
    margin: 0px;
}

.app-row-container1,
.app-row-container2,
.app-row-container3,
.app-row-container4,
.app-row-container5 {
    display: inline-flex;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content;
    padding: 22px 12px;
    margin-top: -10px;
}

.app-row-container1 {
    

        
}

.app-container-text {
    color: var(--white);
    margin: -12px 0px;
    font-size: 11px;
    text-overflow: clip;
    text-align: center;
}